In [31]:
import pandas as pd

path = "data/Report Definitions - IHS MARKIT VIO REPORT.xlsx"
meta_data = pd.read_excel(path, sheet_name="Example All Fleets All States")
data = pd.read_excel(path, sheet_name="Example All Fleets All States", skiprows=10)

meta_data

,Vehicle in Operation (June 2021),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 86,Unnamed: 87,Unnamed: 88,Unnamed: 89,Unnamed: 90,Unnamed: 91,Unnamed: 92,Unnamed: 93,Unnamed: 94,Unnamed: 95
0,Geography: U.S.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,GVW: 8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Vehicle Type: Tractor Trailer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Registration Carrier Type: For Hire,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Registration Vocations: Agriculture/Farm, Bev...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Trailer Data is new registration information f...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Exclude Carrier Type: Individual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,,,,NaN,NaN,NaN,FUEL COUNTS,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NATIONAL_FLEET_BUCKET,NUMBER_OF_REGISTRATION_LOCATIONS,NUM_NATL_FLEETS,TOTAL_TRACTORS,TOTAL_TRAILERS,AVERAGE_AGE_TRACTORS,FUEL_COUNTS_DIESEL_NOT_USED,FUEL_COUNTS_DIESEL_USED,FUEL_COUNTS_CNG_NOT_USED,FUEL_COUNTS_CNG_USED,...,num_natl_total_tractors_last_3_months_new_regi...,fuel_counts_diesel_not_used_last_3_months_new_...,fuel_counts_cng_not_used_last_3_months_new_reg...,fuel_counts_electric_not_used_last_3_months_ne...,fuel_counts_other_fuel_not_used_last_3_months_...,make_counts_freightliner_western_star_last_3_m...,make_counts_peterbilt_kenworth_last_3_months_n...,make_counts_volvo_mack_last_3_months_new_regis...,make_counts_international_last_3_months_new_re...,make_counts_other_makes_last_3_months_new_regi...
10,A = 1,123404,123404,123404,33395,13.3309,20129,103219,12,31,...,564,564,0,0,0,119,306,109,25,5
11,B = 2-3,46274,44650,103127,36225,13.4682,19396,83662,10,44,...,612,612,0,0,0,128,316,140,27,1
12,C = 4-6,17665,16212,76652,35507,12.8156,18699,57895,18,23,...,535,534,1,0,0,123,265,114,32,1
13,D = 7-8,5082,4432,32935,16256,12.0104,9540,23353,17,19,...,301,301,0,0,0,81,138,55,24,3
14,E = 9-11,4278,3688,36355,18272,11.4843,11754,24539,26,25,...,297,297,0,0,0,66,125,89,15,2
15,F = 12-14,2736,2269,29273,16461,10.9289,10871,18274,74,31,...,292,292,0,0,0,58,132,72,27,3
16,G = 15-17,1783,1416,22525,13146,10.2333,8994,13491,12,16,...,246,246,0,0,0,47,132,49,14,4
17,H = 18-19,918,693,12781,6931,10.2289,5496,7248,28,2,...,186,186,0,0,0,56,60,53,17,0
18,I = 20-23,1354,1030,22067,14591,9.7053,9138,12891,23,11,...,207,207,0,0,0,57,105,29,16,0
19,J = 24-28,1207,908,23481,19094,9.0457,11063,12356,41,10,...,403,387,16,0,0,63,178,120,40,2
20,K = 29-32,627,487,14828,10268,9.0359,7068,7726,27,3,...,177,176,1,0,0,39,52,74,10,2
21,L = 33-38,815,590,20820,12991,8.7138,10465,10266,72,12,...,274,274,0,0,0,86,80,80,16,12
22,M = 39-44,537,378,15628,9919,8.4175,7782,7781,31,32,...,256,256,0,0,0,100,91,36,29,0
23,N = 45-55,745,484,24004,24016,8.1227,12441,11513,34,11,...,249,249,0,0,0,62,87,82,13,5
24,O = 56-75,819,511,32942,33332,7.807,18059,14621,173,78,...,476,476,0,0,0,144,219,85,21,7
25,P = 76-100,636,344,29735,25101,6.6726,18270,11197,188,70,...,633,633,0,0,0,284,194,117,24,14
26,Q = 101-200,1771,471,65355,81959,6.5864,40647,24186,379,123,...,1091,1091,0,0,0,375,380,211,111,14
27,R = 201-300,919,135,33303,48135,5.5252,22966,10177,99,29,...,708,705,3,0,0,265,208,177,53,5
28,S = 301-400,330,57,19607,19412,5.4684,11821,7767,6,1,...,475,475,0,0,0,252,113,72,38,0
29,T = 401-550,672,58,27133,16419,6.2467,16048,10805,266,3,...,703,698,4,1,0,236,318,49,90,10
30,U = 551-999,993,55,39473,71035,4.4314,28620,10641,160,46,...,1074,1074,0,0,0,274,323,169,302,6
31,"V = 1,000-2,000",957,31,43822,81445,5.7784,26503,17302,4,3,...,937,937,0,0,0,578,286,58,15,0
32,"W = 2,001-3,000",538,13,29088,41916,4.5166,18429,10620,28,10,...,710,710,0,0,0,381,274,51,1,3
33,"X = 3,001-4,000",85,9,30619,48503,3.4429,11602,17510,1397,45,...,1692,1198,494,0,0,245,477,376,240,354
34,"Y = 4,001-5,000",81,7,31460,65915,5.5417,21060,10367,27,4,...,1277,1277,0,0,0,549,457,195,76,0
35,"Z = 5,001+",952,14,143598,346393,4.1652,104745,33968,4634,159,...,4474,4473,1,0,0,2984,286,40,1156,8